.counter {
    border: 1px solid darkblue;
    padding: 30px;
    width: 300px;
    left: 0;
    right: 0;
    margin: 30px auto;
    text-align: center;
}

.counter span.value {
    margin-left: 10px;
    font-size: 2em;
    color: red;
}